<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Soneta.Business" publicKeyToken="a19fc6236fd34393" culture="neutral" />
        <bindingRedirect oldVersion="14.5.6705.35151" newVersion="14.5.6710.17240" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Soneta.Types" publicKeyToken="a19fc6236fd34393" culture="neutral" />
        <bindingRedirect oldVersion="14.5.6705.35149" newVersion="14.5.6710.17238" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Soneta.Start" publicKeyToken="a19fc6236fd34393" culture="neutral" />
        <bindingRedirect oldVersion="4.0.6705.35149" newVersion="4.0.6710.17238" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>